/* table-index ----- ----- ----- ----- */
.table-index {
    width: 100%;
}

.table-index,
.table-index tr,
.table-index td,
.table-index thead,
.table-index tbody {
    border: none;
}

.table-index thead tr th {
    color: #666;
    background-color: #eee;
    vertical-align: middle;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
}

.table-index thead tr th.col-btn1 {
    width: 40px;
}

.table-index thead tr th.col-btn2 {
    width: 60px;
}

.table-index thead tr th.col-btn3 {
    width: 80px;
}

.table-index tbody tr td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
}

.table-index tbody tr td.col-action {
    white-space: nowrap;
}

.table-index tbody tr td.col-action a {
    margin-right: 5px;
}

.table-index tbody tr td.col-action a:last-child {
    margin-right: 0;
}

.table-index tbody tr:hover td {
    background-color: #e9f3fc;
    border-bottom: 1px solid blue;
}

/* table-detail ----- ----- ----- ----- */
.table-detail {
    width: 100%;
}

.table-detail,
.table-detail tr,
.table-detail td,
.table-detail thead,
.table-detail tbody {
    border: none;
}

.table-detail tr th,
.table-detail tr td {
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table-detail tr th {
    padding-left: 0;
    font-weight: normal;
    font-style: italic;
    color: #888;
    text-align: right;
    border-right: 1px solid #ccc;
}

.table-detail tr td {
    padding-right: 0;
}

.table-detail tr:hover th,
.table-detail tr:hover td {
    background-color: #e9f3fc;
    border-bottom: 1px solid blue;
}

/* ----- ----- ----- ----- */
form .form-group small.form-text {
    font-style: italic;
}

form .form-group span.input-required {
    color: red;
    font-weight: bold;
}